defaults: &defaults
  adapter: postgresql
  encoding: unicode
  min_messages: warning
  timeout: 5000
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  url: <%= ENV['DATABASE_URL'] %>

development:
  database: db_dev
  <<: *defaults

test:
  database: db_test
  <<: *defaults

production: &deploy
  <<: *defaults
  url: <%= ENV['DATABASE_URL'] %>

staging: *deploy
